<div class='col-md-2'>
	<div class="mosaic-block bar" >
		<div class="image-link">
			<% if category.url.present? %>
				<%= link_to (image_tag category.image.url(:small)), category.url , class: 'uploaded-pic' %><br>
			<% else %>
				<%= link_to (image_tag category.image.url(:small)), category_path(category) , class: 'uploaded-pic' %><br>
			<% end %>
		</div>

		<div class='mosaic-overlay details'>
			<h4><%= category.title %></h4>
			<p><%= category.description[0..14] %></p>
			<p><% category.tags.each do |tag| %>
				<%= link_to tag.name, tag_path(tag) %>
			<% end %></p>
			<% unless category.address.blank? %>
				<p><%= link_to 'Map', category_map_path(category), class: 'btn btn-success' %></p>
			<% end %>
		</div>
	</div>
</div>